  <!-- Card 6: Event Schedule
  <div class="nav-card card-contact fade-in">
    <div class="card-header">
      <div class="card-icon"><i class="fas fa-calendar-alt"></i></div>
      <div class="card-content">
        <h3 class="card-title">Event Schedule</h3>
        <p class="card-description">Schedule for the event.</p>
        <a href="{% url 'media' %}" class="card-action">
          <span>View Schedule</span>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div> -->




  <!-- Card 4: Categories -->
   <!--
  <div class="nav-card card-categories fade-in">
    <div class="card-header">
      <div class="card-icon"><i class="fas fa-th-large"></i></div>
      <div class="card-content">
        <h3 class="card-title">Categories</h3>
        <p class="card-description">Browse competition categories, explore event types, and find your perfect match.</p>
        <a href="{% url 'categories' %}" class="card-action">
          <span>View Categories</span>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>-->